[Unit]
Description=Radiofy Weekly refresh schedule

[Timer]
OnCalendar=Sun *-*-* 04:00:00 Europe/Warsaw
Persistent=true
Unit=radiofy-weekly.service

[Install]
WantedBy=timers.target
